body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #eee;
}

#boss {
	width: 700px;
    height: 400px;
    padding: 10px;
    margin-left: 300px;
    border: solid 1px lightgray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px grey;

}

#header {
	border-bottom: solid 1px lightgrey !important;
	margin-left:6px;
	margin-right:6px;
	margin-bottom: 40px !important;
}

.maincontainer {
	width:700px;		
}

#facebook:hover{
	background-color:grey !important;
}

#socialcontainer {
	border-right: solid 1px lightgrey;
}

.hidden {
	display: none;
}
.social {
	width: 250px;	
}

.subcontainer {
	width:330px;
	padding-left: 20px;
	padding-right: 20px;
}

.form-signin {
	
	padding: 0px ;
	margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}